body{
  font-family: Arial, Helvetica, sans-serif;
}

.myTitleBox {
background-color: #f6f8fa;
margin: 0%;
padding: 25px;
font-size: 50px;
border-bottom: 1px solid grey;
}

.inputAdd {
  margin: 25px;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.inserttodobutton {
  margin-top: 5px;
  margin-right: 50%;
}

.checlist {
  margin-left: 25px;
}

button{
  height: 80px;
}